/* Estilos Página Error 429 */
.error-container {
    height: 95vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 20px;
}

.error-code {
    font-size: 120px;
    font-weight: bold;
    color: #6FFF00;
    margin-bottom: 10px;
}

.error-message {
    font-size: 28px;
    margin-bottom: 10px;
}

.error-description {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 30px;
    max-width: 400px;
}

.btn-volver {
    background-color: #6FFF00;
    color: #0B121F;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-volver:hover {
    background-color: #57cc00;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .error-code {
        font-size: 90px;
    }

    .error-message {
        font-size: 22px;
    }

    .error-description {
        font-size: 14px;
        padding: 0 10px;
    }

    .btn-volver {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .error-code {
        font-size: 70px;
    }

    .error-message {
        font-size: 20px;
    }

    .error-description {
        font-size: 13px;
        max-width: 300px;
    }

    .btn-volver {
        padding: 9px 18px;
        font-size: 13px;
    }
}