/* Estilo general de los apartados */
.containers {
    color: white;
    padding: 170px 80px 90px 80px;
    margin-left: 280px;
}

.containers.colapsado {
    margin-left: 80px;
}

.titulo-configuracion {
    font-size: 2.6rem;
    font-weight: bold;
    color: #6FFF00;
    text-align: center;
    margin-bottom: 10px;
}

.descripcion-configuracion {
    font-size: 1rem;
    color: white;
    text-align: center;
    max-width: 80%;
    margin: 0 auto 50px auto;
}

.separator {
    border-top: 1px solid white;
    width: 90%;
    margin: 20px auto;
}

.linea-blanca {
    border: none;
    border-top: 2px solid white;
    margin: 15px 0 20px 0;
}

/* Contenedor Modificar Imagen */
.seccion-perfil {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
    margin-left: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen-perfil-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 200px;
}

.info-foto-perfil {
    max-width: 350px;
    color: white;
    font-size: 0.85rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.foto-perfil-config {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid #6FFF00;
}

.btn-actualizar-foto {
    background-color: #6FFF00;
    color: black;
    border: none;
    padding: 8px 20px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: inline-block;
    text-align: center;
    position: relative;
}

.btn-actualizar-foto:hover {
    background-color: #57cc00;
    color: white;
}

.btn-actualizar-foto input[type="file"] {
    display: none;
}

/* Estilos para los formularios */
.seccion-formulario {
    padding: 30px;
    margin: 180px auto;
    border-radius: 12px;
    max-width: 1000px;
    color: white;
}

.seccion-formulario h3 {
    color: #6FFF00;
    margin: 25px 0 25px 10px;
    font-size: 2.1rem;
    text-align: left;
}

.descripcion-formulario {
    margin-bottom: 75px;
    color: white;
    margin-left: 10px;
}

.mensaje-error {
    color: #ff4d4d;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid #ff4d4d;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.95rem;
    width: 100%;
}

.mensajeErrorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 30px 0 0 0;
    text-align: center;
}

.mensajeErrorImagen p {
    width: 60%;
}

.mensaje-exito {
    color: #4dff4d;
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid #4dff4d;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.95rem;
}

/* Estilos formulario datos usuario */
.form-dos-columnas {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
}

.columna {
    flex: 1;
    min-width: 250px;
}

.form-group {
    margin-bottom: 45px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
}

.form-group input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    background-color: #0A1A2A;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.form-group input:focus {
    border: 1px solid #6FFF00;
}

.form-group input::placeholder {
    color: white;
}

.form-group select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    background-color: #0A1A2A;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    appearance: auto;
}

.form-boton {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.btn-guardar {
    background-color: #6FFF00;
    color: black;
    padding: 8px 55px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-guardar:hover {
    background-color: #57cc00;
    color: white;
}

/* Estilos formulario password */
.form-password {
    margin: auto 15% auto 15%;
    text-align: center;
}

.form-password label {
    text-align: left;
}

.btn-guardar-password {
    background-color: #6FFF00;
    color: black;
    padding: 8px 55px;
    margin: 50px 0 50px 0;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-guardar-password:hover {
    background-color: #57cc00;
    color: white;
}

/* Responsive */
@media (max-width: 909px) {
    .seccion-perfil {
        flex-direction: column;
        margin-top: 100px;
        margin-left: 0;
    }

    .btn-actualizar-foto {
        padding: 6px 16px;
    }
}

@media (max-width: 768px) {
    .containers {
        color: white;
        padding: 130px 40px 90px 40px;
        margin-left: 60px;
    }

    .containers.colapsado {
        margin-left: 60px;
    }

    .seccion-perfil {
        flex-direction: column;
        margin-top: 100px;
        margin-left: 0;
    }

    .foto-perfil-config {
        width: 200px;
        height: 200px;
    }

    .btn-actualizar-foto {
        padding: 6px 16px;
    }

    .seccion-formulario {
        padding: 20px;
        margin: 100px auto;
        max-width: 99%;
    }

    .form-dos-columnas {
        flex-direction: column;
        gap: 20px;
    }

    .seccion-formulario h3,
    .descripcion-formulario {
        text-align: center;
    }

    .form-group input {
        padding: 12px;
        width: 100%;
        font-size: 0.95rem;
    }

    .btn-guardar {
        padding: 12px 30px;
        font-size: 1rem;
    }

    .form-password {
        margin: auto 5% auto 5%;
        text-align: center;
    }

    .btn-guardar-password {
        padding: 10px 30px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .containers {
        color: white;
        padding: 130px 25px 90px 40px;
        margin-left: 40px;
    }

    .containers.colapsado {
        margin-left: 40px;
    }

    .titulo-configuracion {
        font-size: 1.8rem;
    }

    .descripcion-configuracion,
    .descripcion-formulario {
        font-size: 0.9rem;
    }

    .seccion-perfil {
        margin-left: 0;
        gap: 20px;
    }

    .foto-perfil-config {
        width: 180px;
        height: 180px;
    }

    .btn-actualizar-foto {
        padding: 6px 14px;
        font-size: 1rem;
    }

    .info-foto-perfil {
        font-size: 0.8rem;
        padding: 0 10px;
        text-align: center;
    }

    .seccion-formulario {
        padding: 15px;
        margin: 80px auto;
    }

    .seccion-formulario h3 {
        font-size: 1.7rem;
    }

    .form-dos-columnas {
        flex-direction: column;
        gap: 30px;
    }

    .columna {
        min-width: 100%;
    }

    .form-group {
        margin-bottom: 25px;
    }

    .form-group input {
        font-size: 0.95rem;
        padding: 12px;
        width: 100%;
    }

    .btn-guardar {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }

    .form-password {
        margin: 20px 0;
    }

    .form-password label {
        text-align: left;
        margin-bottom: 10px;
    }

    .form-password .form-group {
        margin-bottom: 30px;
    }

    .btn-guardar-password {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }
}