/* Estilo general de los apartados */
.containers {
    color: white;
    padding: 50px 60px 80px 60px;
    margin-left: 280px;
    text-align: center;
}

.containers.colapsado {
    margin-left: 80px;
}

/* Sección Crear Máquina */
.crear-maquina-section {
    color: white;
    padding: 80px 0 0 0;
    margin-left: 275px;
}

.crear-maquina-section.colapsado {
    margin-left: 75px;
}

/* Estilos del Acordeón */
.accordion-item {
    border: none;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A324A;
    color: #6FFF00;
    font-weight: bold;
    border: none;
    font-size: 18px;
    text-align: center;
    border-radius: 0;
}

.accordion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.accordion-button i {
    margin-right: 10px;
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
}

.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 900;
    font-size: 20px;
    color: #6FFF00;
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
    text-align: right;
    flex-shrink: 0;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

.accordion-body {
    background-color: #0A1A2A;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 0;
    border: none;
}

/* Sección del formulario de la máquina */
.formulario-maquina {
    padding: 80px 7% 40px 7%;
    background-color: #0A1A2A;
}

.formCrearMaquina {
    background-color: #1A324A;
    border-radius: 20px;
    padding: 50px 70px;
}

.formCrearMaquina label {
    font-size: 1.2rem;
    margin: 50px 0 10px 0;
}

.formulario-maquina .form-label {
    color: #6FFF00;
    font-weight: bold;
}

.label-centrar,
.titulo-centrar {
    display: block;
    text-align: center;
}

.formulario-maquina .form-group textarea {
    display: block;
    margin: 0 auto 20px auto;
    width: 80%;
    max-width: 700px;
    min-width: 300px;
    padding: 12px 15px;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    background-color: #0A1A2A;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
    resize: vertical;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #6FFF00;
    margin-bottom: 20px;
}

.linea-separadora {
    border: 1px solid white;
    margin: 0 5% 20px 5%;
}

.descripcion-formulario {
    font-size: 1rem;
    margin-bottom: 80px;
    color: #CCCCCC;
    text-align: center;
}

.formulario-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.columna {
    flex: 1 1 48%;
}

/* Estilo para los inputs, selects y textareas formulario */
.formulario-maquina input,
.formulario-maquina select,
.formulario-maquina textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    background-color: #0A1A2A;
    color: white;
    font-size: 1rem;
}

.formulario-maquina input:focus,
.formulario-maquina select:focus,
.formulario-maquina textarea:focus {
    outline: none;
    border: 1px solid #6FFF00;
}

.formulario-maquina input::placeholder,
.formulario-maquina select::placeholder,
.formulario-maquina textarea::placeholder {
    color: white;
    opacity: 90%;
}

.btn-seleccionar {
    background-color: #6FFF00;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.btn-seleccionar:hover,
.btn-enviar:hover {
    background-color: #57cc00;
    color: #FFFFFF;
}

.btn-seleccionar:active,
.btn-enviar:active {
    background-color: #4DB300;
    color: #FFFFFF;
}

.btn-seleccionar:focus,
.btn-enviar:focus {
    background-color: #368000;
    color: #FFFFFF;
}

.custom-file-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #0A1A2A;
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-size: 0.95rem;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.formulario-maquina .input-puntuacion {
    display: block;
    margin: 0 auto 20px auto;
    width: 60%;
    max-width: 300px;
    padding: 12px 15px;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    background-color: #0A1A2A;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.btn-enviar {
    background-color: #6FFF00;
    color: black;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 80px auto 20px auto;
    width: 250px;
}

.spinner-icon {
    display: inline-block;
    animation: spin 1s linear infinite;
    font-size: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mensaje-error {
    color: #ff4d4d;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid #ff4d4d;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.95rem;
    width: 100%;
}

.mensaje-exito {
    color: #4dff4d;
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid #4dff4d;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.95rem;
}

/* Lista de máquinas */
.lista-maquinas-section {
    margin-top: 40px;
}

.titulo-seccion {
    font-size: 2rem;
    font-weight: bold;
    color: #6FFF00;
    margin-bottom: 20px;
}

.buscador-maquinas {
    margin-bottom: 20px;
    text-align: center;
}

.buscador-maquinas input {
    width: 100%;
    max-width: 800px;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    background-color: #102535;
    color: white;
    border: 1px solid #B0B0B0;
}

.buscador-maquinas input:focus {
    outline: none;
    border: 1px solid #6FFF00;
}

.contenedor-maquinas {
    padding: 70px 20px 0 20px;
    border-radius: 0;
    min-height: 100px;
    color: #ccc;
}

.contenedor-maquinas-error {
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 0.9rem;
    margin-top: 60px;
}

.contenedor-maquinas-error p {
    margin: 0;
    font-weight: bold;
    color: #FF4C4C;
}

.grid-maquinas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
    max-width: 100%;
}

.item-maquina {
    background: #1A324A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 250px;
    transition: transform 0.3s ease;
}

.item-maquina:hover {
    transform: scale(1.10);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.foto-maquina {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.item-maquina h3 {
    font-size: 18px;
    color: white;
    margin: 10px 0;
}

.item-maquina p {
    font-size: 16px;
    font-weight: bold;
}

.facil {
    color: #6FFF00;
}

.media {
    color: #FFD700;
}

.dificil {
    color: #FF4C4C;
}

/* Responsive */
@media (max-width: 768px) {
    .crear-maquina-section {
        padding: 65px 0 0 0;
        margin-left: 65px;
    }

    .crear-maquina-section.colapsado {
        margin-left: 65px;
    }

    .containers {
        color: white;
        padding: 80px 40px 80px 40px;
        margin-left: 65px;
        text-align: center;
    }

    .containers.colapsado {
        margin-left: 65px;
    }

    .formCrearMaquina {
        padding: 30px 20px;
    }

    .formulario-contenedor {
        flex-direction: column;
        gap: 20px;
    }

    .grid-maquinas {
        justify-content: center;
        justify-items: center;
    }

    .columna {
        flex: 1 1 100%;
    }

    .formulario-maquina .input-puntuacion {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .crear-maquina-section {
        padding: 60px 0 0 0;
        margin-left: 60px;
        text-align: center;
    }

    .crear-maquina-section.colapsado {
        margin-left: 60px;
    }

    .containers {
        color: white;
        padding: 40px 30px 80px 30px;
        margin-left: 65px;
        text-align: center;
    }

    .containers.colapsado {
        margin-left: 60px;
    }

    .accordion-button {
        font-size: 16px;
    }

    h3,
    .titulo-seccion {
        font-size: 1.8rem;
    }

    .formCrearMaquina label {
        font-size: 1.1rem;
    }

    .formulario-maquina .form-group textarea,
    .formulario-maquina .input-puntuacion {
        width: 100%;
        min-width: unset;
    }

    .formulario-maquina input::placeholder,
    .formulario-maquina select::placeholder,
    .formulario-maquina textarea::placeholder,
    #dificultadMaquina {
        font-size: 14px;
    }

    .custom-file-input span {
        font-size: 14px;
    }

    .formCrearMaquina {
        padding: 20px 15px;
    }

    .descripcion-formulario {
        font-size: 0.85rem;
        margin-bottom: 40px;
    }

    .btn-enviar {
        width: 100%;
        font-size: 16px;
    }

    .custom-file-input {
        flex-direction: column;
        gap: 8px;
    }

    .grid-maquinas {
        justify-content: center;
        justify-items: center;
    }

    .item-maquina {
        max-width: 90%;
    }

    .foto-maquina {
        width: 100%;
        height: auto;
    }
}