<p>maquina-detalles works!</p>
<app-header-autorizado></app-header-autorizado>
<app-sidebar-autorizado (sidebarExpandido)="sidebarExpandido = $event"></app-sidebar-autorizado>

<!-- Sección Detalles Máquina -->
<div class="containers primarySections" [class.colapsado]="!sidebarExpandido">
    <div class="detalles-maquina-layout">
        <!-- Columna izquierda -->
        <div class="columna-izquierda">
            <img [src]="maquinaDetalles.fotoMaquina" alt="Foto de la Máquina" class="imagen-maquina" />
            <div class="info-maquina">
                <h3>{{ maquinaDetalles.nombre }}</h3>
                <p><strong>Autor: </strong>{{ maquinaDetalles.Usuario.username }}</p>
                <p><strong>Dificultad:</strong> {{ maquinaDetalles.dificultad }}</p>
            </div>
        </div>

        <!-- Columna derecha -->
        <div class="columna-derecha">
            <div class="estado-maquina">
                <ng-container *ngIf="maquinaDetalles.estado === 'desplegada'; else desconectada">
                    <i class="bi bi-wifi estado-icono"></i> {{ maquinaDetalles.ip }}
                </ng-container>

                <ng-template #desconectada>
                    <i class="bi bi-wifi-off estado-icono"></i> {{ maquinaDetalles.nombre }} está desconectada
                </ng-template>
            </div>
            <div class="descripcion-maquina">
                <h4>Descripción</h4>
                <p>{{ maquinaDetalles.descripcion }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Sección Formulario Máquina -->
<div class="containers secondarySections" [class.colapsado]="!sidebarExpandido">
    <div class="formulario-maquina-card">
        <div class="formulario-header">
            <button class="btn" *ngIf="!maquinaDetalles.ip" (click)="iniciarMaquina()" [disabled]="accionEnCurso">
                <ng-container *ngIf="!accionEnCurso; else cargando">
                    Iniciar Máquina
                </ng-container>
                <ng-template #cargando>
                    <i class="bi bi-arrow-repeat spinner-icon"></i>
                </ng-template>
            </button>
            <button class="btn stop-button" *ngIf="maquinaDetalles.ip" (click)="detenerMaquina()"
                [disabled]="accionEnCurso">
                <i class="bi" [ngClass]="accionEnCurso ? 'bi-arrow-repeat spinner-icon' : 'bi-square-fill'"></i>
            </button>

            <a class="btn" [href]="maquinaDetalles.writeUp" target="_blank">WriteUp</a>
        </div>

        <div class="formulario-body">
            <div class="preguntas-maquina lineal">
                <div class="pregunta-con-icono">
                    <i class="bi bi-flag icono-bandera"></i>
                    <input type="text" class="form-control" placeholder="Enviar Flag Usuario" [(ngModel)]="flagUsuario" name="flagUsuario">
                </div>

                <div class="separator-vertical"></div>
            
                <div class="pregunta-con-icono">
                    <i class="bi bi-flag icono-bandera"></i>
                    <input type="text" class="form-control" placeholder="Enviar Flag Root" [(ngModel)]="flagRoot" name="flagRoot">
                </div>
            </div>            
            <button class="btn btn-submit" (click)="comprobarFlags()">Comprobar</button>
            <div *ngIf=" mensajeFlags !== '' ">
                <p [ngClass]="{ 'mensaje-error': mensajeErrorFlags, 'mensaje-exito': !mensajeErrorFlags }">
                    {{ mensajeFlags }}
                </p>
            </div>
        </div>
    </div>

    <div class="publicacion-fecha">
        <p>Publicado el {{ maquinaDetalles.fechaCreacion | date:'dd/MM/yyyy' }}</p>
    </div>
</div>