.navbar {
    background-color: #0B121F !important;
    /* Fondo oscuro */
}

.navbar .nav-link {
    color: #FFFFFF !important;
    /* Color blanco para el texto */
    font-size: 16px;
    margin-right: 20px;
}

.navbar .nav-link:hover {
    color: #6FFF00 !important;
    /* Color de texto al pasar el ratón */
}

.navbar .navbar-brand img {
    width: 150px; /* Aumentamos el tamaño del logo */
    height: auto;
    margin-left: 20px;
    /* Despegamos el logo del borde izquierdo */
}

.navbar .d-flex {
    margin-right: 20px;
    /* Despegamos los botones del borde derecho */
}

.btn {
    background-color: #6FFF00;
    color: #000000;
}

.btn:hover {
    background-color: #4CAF50;
    /* Color cuando el ratón pasa sobre el botón */
    color: #FFFFFF;
}

/* Responsividad */
@media (max-width: 992px) {
    .d-none.d-lg-flex {
        display: none;
    }
}

@media (max-width: 767px) {

    /* Ajuste de los botones en pantallas pequeñas */
    .navbar .btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}