<app-header-no-autorizado></app-header-no-autorizado>

<div class="main-container">
    <!-- Sección de Contáctanos -->
    <section class="seccion contacto-form primarySections">
        <div class="contenido">
            <h2>Contáctanos</h2>
            <p class="descripcion">¿Tienes alguna duda o sugerencia? Escríbenos y te responderemos lo antes posible.</p>
            <hr class="linea">

            <!-- Formulario -->
            <form #contactoForm="ngForm" id="contactoForm" (ngSubmit)="enviar($event, contactoForm)">
                <div class="form-group">
                    <input type="text" id="nombreUsuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required
                        placeholder="Nombre de Usuario">
                </div>
                <div class="form-group">
                    <select id="asunto" [(ngModel)]="asunto" name="asunto" required>
                        <option value="" selected disabled>Asunto</option>
                        <option value="Consulta">Consulta</option>
                        <option value="Sugerencia">Sugerencia</option>
                        <option value="Soporte">Soporte</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea id="descripcion" [(ngModel)]="descripcion" name="descripcion" rows="4" required
                        placeholder="Escribe aqui tu mensaje..."></textarea>
                </div>
                <button type="submit" class="btn-enviar">Enviar</button>
            </form>
            <p *ngIf="mensajeRespuesta"
                [ngClass]="mensajeEsError ? 'mensaje-respuesta mensaje-error' : 'mensaje-respuesta mensaje-exito'">
                {{ mensajeRespuesta }}
            </p>
        </div>
    </section>

    <!-- Sección de Otros Métodos -->
    <section class="seccion otros-metodos secondarySections">
        <div class="contenido">
            <h2>Otros Métodos</h2>
            <p class="descripcion">Únete a nuestra comunidad en Discord y Telegram para obtener ayuda y conocer a otros
                usuarios.</p>

            <div class="metodos-contenedor">
                <!-- Discord -->
                <a href="https://discord.gg/65Gz57GSkR" target="_blank" class="metodo discord">
                    <i class="fab fa-discord"></i>
                    <h3>Discord</h3>
                    <p>Comparte ideas, reporta errores y habla con otros jugadores.</p>
                </a>

                <!-- Telegram -->
                <a href="https://t.me/+4aTW2hSSpc82NmU0" target="_blank" class="metodo telegram">
                    <i class="fab fa-telegram-plane"></i>
                    <h3>Telegram</h3>
                    <p>Recibe noticias, notificaciones y participa en el chat con otros usuarios.</p>
                </a>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>