<app-header-autorizado></app-header-autorizado>
<app-sidebar-admin (sidebarExpandido)="sidebarExpandido = $event"></app-sidebar-admin>

<!-- Contenedor Gestión Usuarios -->
<div class="containers primarySections" [class.colapsado]="!sidebarExpandido">

    <h1 class="titulo">Gestión Usuarios</h1>
    <hr class="separator" />
    <p class="descripcion">
        En este apartado, los administradores pueden ver una lista completa de todos los usuarios registrados en la
        plataforma, ordenados alfabéticamente. Desde aquí, pueden cambiar el rol de los usuarios o eliminarlos,
        facilitando una gestión básica y efectiva del sistema.
    </p>

    <div class="tabla-container">
        <div *ngIf="usuariosRegistrados.length === 0; else tablaUsuarios" class="mensaje-vacio">
            No hay usuarios registrados
        </div>

        <ng-template #tablaUsuarios>
            <table class="usuarios-tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>País</th>
                        <th>Fecha Registro</th>
                        <th>Rol</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuariosRegistrados">
                        <td class="colum-nombre">
                            <div class="nombre-wrapper">
                                <img [src]="usuario.fotoPerfil" alt="foto" class="foto-perfil" />
                                <span class="nombre-usuario">{{ usuario.username }}</span>
                            </div>
                        </td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.pais }}</td>
                        <td>{{ usuario.fechaRegistro | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ usuario.rol }}</td>
                        <td>
                            <button class="btn-operacion cambiar-rol" (click)="cambiarRol(usuario.idUsuario)">
                                <i class="bi bi-arrow-left-right"></i> Cambiar Rol
                            </button>
                            <button class="btn-operacion eliminar-usuario" (click)="abrirModalEliminar(usuario)">
                                <i class="bi bi-trash"></i> Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </div>

    <!-- Modal de Confirmación -->
    <div class="modal-confirmacion" *ngIf="usuarioAEliminar">
        <div class="modal-contenido">
            <h2 class="titulo-modal">¿Estás seguro?</h2>
            <p class="descripcion-seccion">¿Deseas eliminar al usuario <strong>{{ usuarioAEliminar?.username}}</strong>?
                Esta acción no se puede deshacer.
            </p>
            <div class="modal-buttons">
                <button class="btn-cancelar" (click)="cerrarModal()">Cancelar</button>
                <button class="btn-confirmar" (click)="confirmarEliminacion()">Eliminar</button>
            </div>
        </div>
    </div>

</div>