<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Contacto -->
            <div class="col-md-4 footer-col-left">
                <h4>Contacto</h4>
                <p>Correo: <a href="mailto:soporte@hackermaster.es">soporte&#64;hackermaster.es</a></p>
                <p>Teléfono Soporte: +123 456 7890</p>
                <p>Horario de atención: Lunes a viernes, 9:00 a 18:00</p>
            </div>

            <!-- Enlaces Útiles -->
            <div class="col-md-4 footer-col-center">
                <h4>Enlaces Útiles</h4>
                <ul class="footer-links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">¿Qué es?</a></li>
                    <li><a href="#">Estadísticas</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Iniciar Sesión</a></li>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#">Preguntas Frecuentes (FAQ)</a></li>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                </ul>
            </div>

            <!-- Síguenos -->
            <div class="col-md-4 footer-col-right">
                <h4>Síguenos</h4>
                <ul class="social-links">
                    <li><a href="#" class="facebook"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="#" class="instagram"><i class="bi bi-instagram"></i> Instagram</a></li>
                    <li><a href="#" class="twitter"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="youtube"><i class="bi bi-youtube"></i> YouTube</a></li>
                </ul>
            </div>
        </div>

        <!-- Derechos Reservados -->
        <div class="footer-bottom">
            <p>© 2025 HackerMaster. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>