<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <div class="acciones-derecha">
            <!-- Botón para ir a Admin (Solo visible para Administradores) -->
            <div *ngIf="rol === 'Administrador'" (click)="navegarPaginaAdmin()" class="panel-admin">
                <i class="bi bi-person-gear"></i>
            </div>

            <!-- Icono Notificaciones -->
            <div class="notificaciones" (click)="toggleMenuNotificaciones($event)">
                <i class="bi bi-bell"></i>
                <span class="notificaciones-circulo" *ngIf="notificaciones.length > 0">{{ notificaciones.length }}</span>
            </div>

            <!-- Notificaciones -->
            <div class="menu-notificaciones" [ngClass]="{'abierto': menuNotificacionesAbierto}">
                <!-- Lista de Notificacines -->
                <div class="notificaciones-card" *ngFor="let notificacion of notificaciones">
                    <div class="notificacion">
                        <img [src]="notificacion.fotoNotificacion" alt="Notificación" class="notificacion-imagen">
                        <span class="notificacion-titulo">{{ notificacion.titulo }}</span>
                        <p class="notificacion-descripcion">{{ notificacion.descripcion }}</p>
                        <p class="notificacion-fecha">{{ notificacion.fechaLimite | date:'dd/MM/yyyy' }}</p>
                    </div>
                </div>
                <!-- Mensaje cuando no haya notificaciones -->
                <div *ngIf="notificaciones.length === 0" class="no-notificaciones">
                    <p>No tienes ninguna notificación pendiente</p>
                </div>
            </div>

            <!-- Perfil -->
            <div class="perfil" (click)="toggleMenuPerfil($event)">
                <div class="perfil-info">
                    <img src="/assets/images/logo.png" alt="Logo pequeño" class="logo-pequeno">
                    <span class="nombre-usuario">{{ username }}</span>
                    <i class="bi bi-chevron-down flecha" [ngClass]="{'abierta': menuPerfilAbierto}"></i>
                </div>

                <!-- Opciones perfil -->
                <div class="menu-perfil" [ngClass]="{'abierto': menuPerfilAbierto}">
                    <a routerLink="/configurar-perfil"><i class="bi bi-gear"></i> Configurar Perfil</a>
                    <a (click)="cerrarSesion()"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</nav>