<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <div class="acciones-derecha">
            <!-- Icono Notificaciones -->
            <div class="notificaciones" (click)="toggleMenuNotificaciones($event)">
                <i class="bi bi-bell"></i>
            </div>

            <!-- Notificaciones -->
            <div class="menu-notificaciones" [ngClass]="{'abierto': menuNotificacionesAbierto}">
                <!-- Ejemplos de notificacines -->
                <div class="notificaciones-card" *ngFor="let i of [1,2,3]">
                    <div class="notificacion">
                        <img src="/assets/notificaciones/notificacion1.png" alt="Notificación" class="notificacion-imagen">
                        <span class="notificacion-titulo">Ejemplo Titulo {{ i }}</span>
                        <p class="notificacion-descripcion">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. At eos, repellat non veritatis a
                            quibusdam voluptate sit ex maxime aperiam, in nobis porro numquam ullam! Adipisci,
                            aspernatur exercitationem. Officiis, vitae!
                        </p>
                    </div>
                </div>
            </div>

            <!-- Perfil -->
            <div class="perfil" (click)="toggleMenuPerfil($event)">
                <div class="perfil-info">
                    <img src="/assets/images/logo.png" alt="Logo pequeño" class="logo-pequeno">
                    <span class="nombre-usuario">{{ username }}</span>
                    <i class="bi bi-chevron-down flecha" [ngClass]="{'abierta': menuPerfilAbierto}"></i>
                </div>

                <!-- Opciones perfil -->
                <div class="menu-perfil" [ngClass]="{'abierto': menuPerfilAbierto}">
                    <a routerLink="/configurar-perfil"><i class="bi bi-gear"></i> Configurar Perfil</a>
                    <a (click)="cerrarSesion()"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</nav>