<aside class="sidebar" [ngClass]="{ 'colapsado': !expandido }">
    <ul class="nav-list">
        <li>
            <a routerLink="/dashboard-usuario" routerLinkActive="activo">
                <i class="bi bi-house-door"></i>
                <span class="texto-link">Inicio</span>
            </a>
        </li>
        <li>
            <a routerLink="/perfil" routerLinkActive="activo">
                <i class="bi bi-person-circle"></i>
                <span class="texto-link">Perfil</span>
            </a>
        </li>
        <li>
            <a routerLink="/maquinas" routerLinkActive="activo">
                <i class="bi bi-cpu"></i>
                <span class="texto-link">Máquinas</span>
            </a>
        </li>
        <li>
            <a routerLink="/ranking" routerLinkActive="activo">
                <i class="bi bi-trophy"></i>
                <span class="texto-link">Ranking</span>
            </a>
        </li>
    </ul>
</aside>