<aside class="sidebar" [ngClass]="{ 'colapsado': !expandido }">
    <ul class="nav-list">
        <li><a routerLink="/dashboard-usuario"><i class="bi bi-house-door"></i> <span class="texto-link">Inicio</span></a></li>
        <li><a routerLink="/perfil"><i class="bi bi-person-circle"></i> <span class="texto-link">Perfil</span></a></li>
        <li><a routerLink="/maquinas"><i class="bi-cpu"></i> <span class="texto-link">Máquinas</span></a></li>
        <li><a routerLink="/ranking"><i class="bi bi-trophy"></i> <span class="texto-link">Ranking</span></a></li>
    </ul>
</aside>